---
import ExperienceItem from "./icons/ExperienceItem.astro"
const EXPERIENCE = [
    {
        date: 'Marzo 2024 - Actualidad',
        title: 'Licenciatura en Tecnologías de la Información - UTEC ',
        description: 'Cursando en la Universidad Tecnológica, 2do semestre.',
    },
    {
        date: 'Enero 2023 - Setiembre 2023',
        title: 'Soporte TI - Infra Sistemas',
        description: 'Facturación electrónica. Tareas como soporte técnico, manejo de base de datos y gestión de servidores.',
    },
    {
        date: 'Diciembre 2021 - Junio 2022',
        title: 'Curso Desarrollo Front-End - CoderHouse',
        description: 'Desarrollo Web - JavaScript - React Js.',
    },
    {
        date: 'Diciembre 2019',
        title: 'Bachillerato completo - Liceo José María Campos',
        description: 'Bachillerato completo.',
    }        
] 

---
<ol class="relative border-s border-gray-200 ml-2 ">           
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem { ... experience }/>
            </li>
        ))
    }       
</ol>

