---
import GitHubIcon from "./icons/GitHubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---
<!-- transition-shadow hover:shadow-2xl hover:shadow-violet-800/80 -->
<footer class="rounded-xl m-4 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-4 bg-transparent/20 shadow shadow-white/10 shadow-2xl">
      <div class="w-full mx-auto max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <ul class="flex flex-wrap items-center text-sm font-medium text-white/90">
              <li>
                  <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mi</a>
              </li>
              <li>
                  <a href="#educacion-y-experiencia" class="hover:underline me-4 md:me-6">Educación</a>
              </li>
              <li>
                  <a href="#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
              </li>
            </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023. Portfolio Emiliano Debenedetti - Desarrollo de Software.
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0 ">
              <a class="text-white ms-5" href='https://www.linkedin.com/in/emiliano-debenedetti-223249223/' target='_blank' >
                  <LinkedinIcon class="size-6 lg:size-7"/>
                  <span class="sr-only">LinkedIn page</span>
              </a>
              <a class="text-white ms-5" href='https://github.com/emilianodebenedetti' target='_blank' >
                  <GitHubIcon class="size-6 lg:size-7"/>
                  <span class="sr-only">GitHub account</span>
              </a>
          </div>
      </div>
    </div>
</footer>

