<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <!-- NAVBAR -->
    <nav class="flex flex-row gap-x-10 opacity-80 text-white dark:text-white">
        <a class="navbar-brand" href="#sobre-mi">Sobre mi</a>
        <a class="navbar-brand" href="#educacion-y-experiencia">Educación</a>
        <a class="navbar-brand" href="#proyectos">Proyectos</a>
    </nav>
</header>