---
/* pasamos por props de Experience.astro */
/* si queremos tipos */
interface Props {
    title: string;
    description: string;
    link?: string;
    date: string;
}
const { title, description, link, date } = Astro.props
---
<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-teal-700"></div>
<time class="mb-1 text-sm font-normal leading-none text-teal-500/80">{date}</time>
<h3 class="text-md md:text-lg font-semibold ">{title}</h3>
<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">{description}</p>

