---
import '@fontsource-variable/onest'
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body><!-- <body class="relative text-black dark:text-white"> -->
		<div class="fixed top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,#20033d,rgba(255,255,255,0))]"></div>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body{
		background: #050505;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		overscroll-behavior: none;
		
	}
	@media (prefers-reduced-motion: reduce){ /* si el usuario desacrivo animaciones no las muestra */
		html{
			scroll-behavior: auto;
		}
	}
</style>
